{% extends 'blog/base.html' %}

{% block content %}
<h3>Home Page!</h1>
	{% for post in posts %}
	  <article class="media content-section">
     
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}"><img class="rounded-circle article-img-2" src="{{ post.author.profile.image.url }}"> {{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
      </div>
      {% if post.image %}
       <img class="article-img img-thumbnail" src="{{ post.image.url }}">
      {% endif %}
    </article>
    {% endfor %}
{% endblock content %}